<%- include('header', {title: 'Koszyk', cart: true}) %>

<div class="container">
    <div class="row">
        <div class="col-xs-8" style="float:none; margin: auto;">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-xs-6">
                                <h5><span class="glyphicon glyphicon-shopping-cart"></span> Koszyk </h5>
                            </div>
                            <div class="col-xs-4" style="float:right;">
                                <a href="/" type="button" href="/" class="btn btn-primary btn-sm btn-block">
                                    <span class="glyphicon glyphicon-share-alt"></span> Kontynuuj zakupy
                                <a/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <% products.forEach(function(product) { %>
                        <div class="row">
                            <div class="col-xs-2"><img class="img-responsive" src="<%= product.img %>">
                            </div>
                            <div class="col-xs-4">
                                <h4 class="product-name"><strong><%= product.name %></strong></h4>
                                <h4><small><%= product.description %></small></h4>
                            </div>
                            <div class="col-xs-6">
                                <div class="col-xs-6 text-right">
                                    <h6 style="font-size: 15px"><strong><span class="text-muted"><%= product.price %> zł</span></strong></h6>
                                </div>
                                <div class="col-xs-4" style="text-align: center;">
                                    <h6 style="font-size: 15px"><strong>x<%= product.quantity %> </h6>
                                </div>
                                <div class="col-xs-2">
                                    <a href="/remove_from_cart/<%= product._id %>/<%= product.name%>">
                                        <button type="button" class="btn btn-link btn-xs">
                                            <span style="margin-top: 10px;" class="glyphicon glyphicon-trash"> </span>
                                        </button>
                                    <a/>
                                </div>
                            </div>
                        </div>
                        <hr>
                    <% }); %>
                    
                </div>
                <div class="panel-footer">
                    <div class="row text-center">
                        <div class="col-xs-9">
                            <h4 class="text-right">Razem <strong><%= total %> zł</strong></h4>
                        </div>
                        <div class="col-xs-3">
                            <a href="/checkout" type="button" class="btn btn-success btn-block">
                                    Zapłać
                            <a/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


