<%- include('header', {title: 'Sklep'}) %>
        
<link rel="stylesheet" type="text/css" href="/products.css">

        <div class="container">
            <!--div class="row"-->
                <div class="center">
                    <!--h2>Custom search field</h2-->
                    <div id="custom-search-input">
                        <div class="input-group col-lg-12">
                            <input type="text" class="form-control input-md" placeholder="Wyszukaj" />
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            <!--/div-->
        </div>
        <div class="container">
        <% products.forEach(function(product) { %>
            <div class="col-sm-3">
                <article class="col-item">
                    <div class="photo">
                        <a href="#"> <img src="https://unsplash.it/500/300?image=0" class="img-responsive" alt="Podgląd" /> </a>
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="price-details col-md-6">
                                <p class="details">
                                    <%= product.description %>
                                </p>
                                <h1><%= product.name %></h1>
                            </div>
                        </div>
                        <div>
                        </div>
                        <div class="separator clear-left">
                            <p class="btn-add">
                                <a href="/add_to_cart/<%= product._id %>" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span> Dodaj do koszyka </a>
                            </p>
                            <p class="btn-details">
                                <span class="price-new"><%= product.price %> zł</span>
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </article>
            </div>
        <% }); %>
    </div>